{% block footer %}
<footer>
 <div class="dark-footer">
    <div class="container pt-3 pb-1 pl-5">
        <p><strong>Want to stay in touch? Reach us by <a style="color:white; text-decoration:underline;" href="mailto:info@radicalengineers.com" target="_blank">email</a> or <a style="color:white; text-decoration:underline;" href="http://eepurl.com/dCejKD" target="_blank"> sign up for our newsletter</a>.</p>
        </div>
    </div>
	<div class="container pt-5 pb-4 ml-md-5 pl-md-5">
    <div class="row">
      <div class="col-12">
        <p class="text-center">Copyleft 2023 @ Radical Engineers</p>
      </div>
    </div> <!-- row -->
  </div> <!-- containter -->

</footer>
{% endblock %}